{% extends 'base.html.twig'%}

{% block title %} IS BBK Blansko - Homepage{% endblock %}

{% block head %}
    <link rel="icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/x-icon" />
    <link rel="shortcut icon" sizes="32x32" href="{{ asset('favicon-32.png') }}" type="image/x-icon" />
{% endblock %}

{% block body %}
    <div class="container-fluid" style="text-align: center">
        <img class="align-center" src="https://www.bbkblansko.cz/_files/200000274-f3f9ff3fa3/450/logo.jpg" alt="Logo BBK Blansko" width="320px" height="250px" style="margin-bottom: 50px; margin-top: 20px">
        <div>
            <p>Vítejte na nově vzniklém Informačním systému BBK Blansko<br></p>
            <p style="font-weight: bold">Systém je v pilotní fázi a stále se vyvíjí<br><br></p>
            <p> V případě dotazů se obraťte na Admina<br>
            <p>607128731    |   <a href = "mailto: adam.prikryl7@gmail.com">adam.prikryl7@gmail.com</a></p>
        </div>
    </div>
{% endblock %}