{% extends 'base.html.twig' %}
{% block body %}

    <div class="flex w-50 ml-lg-4">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Uživatelské jméno</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Uživatelské jméno">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Heslo</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Heslo">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}